.detail-status{
    margin: 4px 0;
    background-color:#e5eff7;
    padding: 7px 0;
}
.detail-status p {
    margin: 0;
}
.container{
    margin-top: 40px;
}
.collapse-details {
    background-color: #f4f8fb;
    padding: 10px;
}
.more-less {
    float: right;
    color: #212121;
}
.form-button {
    background-color: #007bff;
}

.btn-primary{
background-color: #007bff;
margin: 8px;
border-radius: 0;
padding-bottom:0;
padding-top:0; 
}
.btn-primary:hover{
background-color: #0260c5;
}
.shadow-details-brief {
    border: 2px solid #fff;
    margin: 10px 0;
    padding: 20px;
    display: none;
}
.m-left{
    margin-left: 20px;   
}
.custom-select{
width:50%;
}

.opacity {
    opacity: 0.6;
}


/* css of modal */

.modal-content{
    background-color:#edeff0;
}
.modal-header{
    border-radius: 0rem;
    border:2px solid grey;
    background-color:#dce4eb;
}
.modal-body{
    border:2px solid grey;
    border-top:none;
    border-bottom:none;
    margin-left: 0px;
    margin-right: 0px;
}
.modal-body p{
    margin-left:15px;
    margin-top:15px;
    font-size: 0.9em;
}
#myModal footer{
    border:2px solid grey;
    border-top: none;
    padding-top:0px;
}
.modal-ok-btn{
    border:2px solid grey;
    background: #ced1d4;
    width: 115px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.info-btn{
    border:2px solid grey;
    border-radius:50%;
    width:80px;
}